 <div class="sidebar-brand d-none d-md-flex">
      <h3 id="brand-text" class="sidebar-brand-full"><i class="nav-icon cil-gem"></i>
            T-Fusion</h3>
      <h3 class="sidebar-brand-narrow"><i class=" nav-icon cil-gem"></i></h3>
</div>
<ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
      <li class="nav-item"><a class="nav-link" href="index.html">
                  <i class="nav-icon cil-speedometer"></i>
                  <%= __('sidebarLabel.labelHome') %><span
                        class="badge badge-sm bg-info ms-auto">NEW</span></a></li>
      <!-- <li class="nav-title"><%= __('sidebarLabel.labelMaps')%></li> -->
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
                  <i class="nav-icon cil-fingerprint"></i>
                  <%= __('sidebarLabel.labelNets')%></a>
            <ul class="nav-group-items">
                  <li class="nav-item"><a class="nav-link"
                              href="base/accordion.html"><span
                                    class="nav-icon cib-netlify"></span>
                              <%= __('sidebarLabel.labelNetsLabels.labelNetPlans')%></a></li>
                  <li class="nav-item"><a class="nav-link"
                              href="base/accordion.html"><span
                                    class="nav-icon cib-hubspot"></span>
                              <%= __('sidebarLabel.labelNetsLabels.labelFiberPlans')%></a></li>
            </ul>
      </li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
                  <i class="nav-icon cil-location-pin"></i>
                  <%= __('sidebarLabel.labelMaps')%></a>
            <ul class="nav-group-items">
                  <li class="nav-item"><a class="nav-link"
                              href="base/accordion.html"><span
                                    class="nav-icon cil-layers"></span>
                              <%= __('sidebarLabel.labelMapslabels.labelCoverMap')%></a></li>
                  <li class="nav-item"><a class="nav-link"
                              href="base/accordion.html"><span
                                    class="nav-icon cil-laptop"></span>
                              <%= __('sidebarLabel.labelMapslabels.labelDevicesMap')%></a></li>
                  <li class="nav-item"><a class="nav-link"
                              href="base/accordion.html"><span
                                    class="nav-icon cil-sitemap"></span>
                              <%= __('sidebarLabel.labelMapslabels.labelPortDistributedMap')%></a></li>
            </ul>
      </li>
      <!-- <li class="nav-title"> <%= __('sidebarLabel.labelReports')%></li> -->
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
                  <i class="nav-icon cib-tableau"></i>
                  <%= __('sidebarLabel.labelReports')%></a>
            <ul class="nav-group-items">
                  <li class="nav-item"><a class="nav-link"
                              href="base/accordion.html"><span
                                    class="nav-icon cil-ethernet"></span>
                              <%= __('sidebarLabel.labelReportslabels.labelPortCapacityReport')%></a></li>
                  <li class="nav-item"><a class="nav-link"
                              href="base/accordion.html"><span
                                    class="nav-icon cil-braille"></span>
                              <%= __('sidebarLabel.labelReportslabels.labelActiveCapacityReport')%></a></li>
            </ul>
      </li>
      <!-- <li class="nav-title"><%= __('sidebarLabel.labelNets')%></li> -->
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
                  <i class="nav-icon cil-fingerprint"></i>
                  <%= __('sidebarLabel.labelNets')%></a>
            <ul class="nav-group-items">
                  <li class="nav-item"><a class="nav-link"
                              href="base/accordion.html"><span
                                    class="nav-icon cib-netlify"></span>
                              <%= __('sidebarLabel.labelNetsLabels.labelNetPlans')%></a></li>
                  <li class="nav-item"><a class="nav-link"
                              href="base/accordion.html"><span
                                    class="nav-icon cib-hubspot"></span>
                              <%= __('sidebarLabel.labelNetsLabels.labelFiberPlans')%></a></li>
            </ul>
      </li>
</ul>

<!-- <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button> -->
