<!DOCTYPE html>
<html lang="ru">
  <%- include('../partials/header', { title }) -%>

  <body>
    <% if (session.isAuthenticated) { %>
    <div class="d-flex bd-highlight">
      <div class="sidebar sidebar-dark d-flex bd-highlight hide"
        id="sidebar">
        <%- include('../partials/sidebar') %>
      </div>
      <div
        class="flex-fill wrapper d-flex flex-column min-vh-100 bg-light bd-highlight">
        <header class="header header-sticky mb-4">
          <%- include('../partials/topbar') %>
        </header>
        <div class="body flex-grow-1 px-3">
          <%- body %>
        </div>
        <footer class="footer">
          <div><a href="https://coreui.io">CoreUI </a><a
              href="https://coreui.io">Bootstrap
              Admin Template</a> © 2023 creativeLabs.</div>
          <div class="ms-auto">Powered by&nbsp;<a href="https://coreui.io/docs/">CoreUI
              UI Components</a></div>
        </footer>
      </div>
    </div>
    <% } else { %>
    <%- body %>
    <script type="text/javascript">
      const mySession = <%= session.isAuthenticated %>;
      const currentPath = window.location.pathname;
      if(currentPath !="/login" && !mySession){
        window.location.href = "/login";
      }
    </script> <% } %>
    <%- include('../partials/jslibs') -%>
  </body>

</html>